# Running arraylib on example data

First we import the LibraryExperiment class from the package.

In [1]:
from pysudoku_package.libraryexperiment import LibraryExperiment

We generate an experiment object by instantiating the LibraryExperiment class with our chosen parameters.

Required parameters:
* `input_dir`: path to directory holding the input fastq files
* `exp_design`: path to csv file indicating experimental design (values should be separated by a comma). The experimental design file 
       should have columns, Filename, Poolname and Pooldimension. (see example in tests/test_data/full_exp_design.csv)
  * Filename should contain all the unqiue input fastq filenames.
  * Poolname should indicate to which pool a given file belongs. Multiple files per poolname are allowed.
  * Pooldimension indicates the pooling dimension a pool belongs to. All pools sharing the same pooling dimension should have the same string in the Pooldimension column.
  

An example of how an exp_design file could look like:

| Filename          | Poolname        | Pooldimension  |
| :---------------: | :-------------: | :------------: |
| column1.fastq     | column1         | columns        |
| column2.fastq     | column2         | columns        |
| row1.fastq        | row1            | rows           |
| row2.fastq        | row2            | rows           |
| platerow1.fastq   | platerow1       | platerows      |
| platerow2.fastq   | platerow2       | platerows      |
| platecol1.fastq   | platecol1       | platecols      |
| platecol2.fastq   | platecol2       | platecols      |

* `gb\_ref` path to genbank reference file
* `bowtie\_ref` path to bowtie index files, ending with the basename of your index (if the basename of your index is UTI89 and you store your bowtie2 references in `bowtie\_ref` it should be bowtie_ref/UTI89). Please visit https://bowtie-bio.sourceforge.net/bowtie2/manual.shtml#the-bowtie2-build-indexer for a manual how to create bowtie2 indices.
* `tn\_seq` transposon sequence (e.g. AGATGTGTATAAGAGACAG)
* `bar\_upstream` upstream sequence of barcode (e.g. CGAGGTCTCT)
* `bar\_downstream` downstream sequence of barcode (e.g. CGTACGCTGC)

Optional parameters:
* map\_quality minimum bowtie2 alignment quality score for each base to include read
* seq\_quality minimum phred score for each base to include read
* transposon\_mismatches number of transposon mismatches allowed
* filter\_thr threshold for local filter (e.g. a threshold of 0.05 would filter out all reads < 0.05 of the maximum read count for a given mutant)
* global\_thr threshold for global filter (all reads below g_thr will be set to 0) 
* min_counts minimum counts of a barcode to be included in analysis
* use\_barcodes whether to perform deconvolution only based on barcodes without genomic alignment 


You can also refer to the API to get a detailed description of the input parameter choices.

In [3]:
experiment = LibraryExperiment(cores=4,
                               map_quality=30, 
                               seq_quality=10, 
                               gb_ref="gb_ref", 
                               bowtie_ref="bowtie_ref/UTI89",     
                               tn_seq="AGATGTGTATAAGAGACAG", 
                               tn_mismatches=2, 
                               input_dir="input", 
                               exp_design="full_exp_design.csv",
                               use_barcodes=False, 
                               bar_upstream="CGAGGTCTCT", 
                               bar_downstream="CGTACGCTGC", 
                               filter_thr=0.05,
                               global_filter_thr=5, 
                               min_counts=5)

## Read trimming and genomic alignment

First we detect the transposon sequence in the reads in our input fastq files in input_dir.

In [4]:
# detect transposon and trim sequences
experiment.get_genomic_seq()

In [5]:
# align trimmed sequences to reference using bowtie2
experiment.align_genomic_seq()

624483 reads; of these:
  624483 (100.00%) were unpaired; of these:
    0 (0.00%) aligned 0 times
    624483 (100.00%) aligned exactly 1 time
    0 (0.00%) aligned >1 times
100.00% overall alignment rate

In [6]:
# assemble count matrix from aligned reads
experiment.write_count_matrix()

Generating count matrix with 7000 mutants
Generated count matrix!

In [10]:
experiment.count_mat

,Feature,Orientation,Barcode,Reference,1,10,11,12,2,3,...,PC07,PC08,PR01,PR02,PR03,PR04,PR05,PR06,PR07,PR08
0,49,-,nan,NC_007946.1,0,0,10,0,0,0,...,0,0,0,14,0,0,0,0,0,0
1,50,-,nan,NC_007946.1,0,0,0,0,0,0,...,0,13,0,0,0,0,0,0,0,13
2,51,-,nan,NC_007946.1,0,0,0,0,0,0,...,0,0,0,0,0,11,0,0,0,0
3,53,-,nan,NC_007946.1,0,0,0,0,13,0,...,10,0,10,0,0,0,0,0,0,0
4,54,+,nan,NC_007946.1,0,13,0,0,0,0,...,0,14,0,0,0,0,0,14,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,7045,-,nan,NC_007946.1,0,10,0,0,0,14,...,0,0,13,0,0,0,0,0,11,0
6996,7046,+,nan,NC_007946.1,0,10,0,0,0,0,...,0,0,0,13,0,0,12,11,0,0
6997,7047,-,nan,NC_007946.1,0,0,0,0,0,0,...,0,0,0,14,12,0,0,0,11,0
6998,7048,+,nan,NC_007946.1,14,0,0,0,10,11,...,0,0,0,0,0,0,13,0,0,14
6999,7050,+,nan,NC_007946.1,0,0,10,0,14,0,...,12,0,14,0,0,11,13,0,0,0

In [11]:
experiment.normalized_count_mat

,Feature,Orientation,Barcode,Reference,1,10,11,12,2,3,...,PC07,PC08,PR01,PR02,PR03,PR04,PR05,PR06,PR07,PR08
0,49,-,nan,NC_007946.1,0.00000,0.000000,734.322221,0.0,0.000000,0.000000,...,0.00000,0.000000,0.000000,732.945919,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,50,-,nan,NC_007946.1,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.00000,675.465032,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,664.349959
2,51,-,nan,NC_007946.1,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,581.856652,0.000000,0.000000,0.000000,0.000000
3,53,-,nan,NC_007946.1,0.00000,0.000000,0.000000,0.0,980.022616,0.000000,...,496.15480,0.000000,509.735957,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,54,+,nan,NC_007946.1,0.00000,981.798958,0.000000,0.0,0.000000,0.000000,...,0.00000,727.423880,0.000000,0.000000,0.000000,0.000000,0.000000,721.277692,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,7045,-,nan,NC_007946.1,0.00000,755.229968,0.000000,0.0,0.000000,1003.152766,...,0.00000,0.000000,662.656744,0.000000,0.000000,0.000000,0.000000,0.000000,549.862534,0.000000
6996,7046,+,nan,NC_007946.1,0.00000,755.229968,0.000000,0.0,0.000000,0.000000,...,0.00000,0.000000,0.000000,680.592639,0.000000,0.000000,629.954328,566.718187,0.000000,0.000000
6997,7047,-,nan,NC_007946.1,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.00000,0.000000,0.000000,732.945919,635.930048,0.000000,0.000000,0.000000,549.862534,0.000000
6998,7048,+,nan,NC_007946.1,1108.64745,0.000000,0.000000,0.0,753.863551,788.191459,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,682.450522,0.000000,0.000000,715.453802
6999,7050,+,nan,NC_007946.1,0.00000,0.000000,734.322221,0.0,1055.408971,0.000000,...,595.38576,0.000000,713.630339,0.000000,0.000000,581.856652,682.450522,0.000000,0.000000,0.000000

In [9]:
experiment.filtered_count_mat

,Feature,Orientation,Barcode,Reference,1,10,11,12,2,3,...,PC07,PC08,PR01,PR02,PR03,PR04,PR05,PR06,PR07,PR08
0,49,-,nan,NC_007946.1,0.00000,0.000000,734.322221,0.0,0.000000,0.000000,...,0.00000,0.000000,0.000000,732.945919,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,50,-,nan,NC_007946.1,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.00000,675.465032,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,664.349959
2,51,-,nan,NC_007946.1,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,581.856652,0.000000,0.000000,0.000000,0.000000
3,53,-,nan,NC_007946.1,0.00000,0.000000,0.000000,0.0,980.022616,0.000000,...,496.15480,0.000000,509.735957,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,54,+,nan,NC_007946.1,0.00000,981.798958,0.000000,0.0,0.000000,0.000000,...,0.00000,727.423880,0.000000,0.000000,0.000000,0.000000,0.000000,721.277692,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,7045,-,nan,NC_007946.1,0.00000,755.229968,0.000000,0.0,0.000000,1003.152766,...,0.00000,0.000000,662.656744,0.000000,0.000000,0.000000,0.000000,0.000000,549.862534,0.000000
6996,7046,+,nan,NC_007946.1,0.00000,755.229968,0.000000,0.0,0.000000,0.000000,...,0.00000,0.000000,0.000000,680.592639,0.000000,0.000000,629.954328,566.718187,0.000000,0.000000
6997,7047,-,nan,NC_007946.1,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.00000,0.000000,0.000000,732.945919,635.930048,0.000000,0.000000,0.000000,549.862534,0.000000
6998,7048,+,nan,NC_007946.1,1108.64745,0.000000,0.000000,0.0,753.863551,788.191459,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,682.450522,0.000000,0.000000,715.453802
6999,7050,+,nan,NC_007946.1,0.00000,0.000000,734.322221,0.0,1055.408971,0.000000,...,595.38576,0.000000,713.630339,0.000000,0.000000,581.856652,682.450522,0.000000,0.000000,0.000000

In [12]:
experiment.raw_count_mat

,Feature,Orientation,Barcode,Reference,1,10,11,12,2,3,...,PC07,PC08,PR01,PR02,PR03,PR04,PR05,PR06,PR07,PR08
0,49,-,nan,NC_007946.1,0,0,10,0,0,0,...,0,0,0,14,0,0,0,0,0,0
1,50,-,nan,NC_007946.1,0,0,0,0,0,0,...,0,13,0,0,0,0,0,0,0,13
2,51,-,nan,NC_007946.1,0,0,0,0,0,0,...,0,0,0,0,0,11,0,0,0,0
3,53,-,nan,NC_007946.1,0,0,0,0,13,0,...,10,0,10,0,0,0,0,0,0,0
4,54,+,nan,NC_007946.1,0,13,0,0,0,0,...,0,14,0,0,0,0,0,14,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,7045,-,nan,NC_007946.1,0,10,0,0,0,14,...,0,0,13,0,0,0,0,0,11,0
6996,7046,+,nan,NC_007946.1,0,10,0,0,0,0,...,0,0,0,13,0,0,12,11,0,0
6997,7047,-,nan,NC_007946.1,0,0,0,0,0,0,...,0,0,0,14,12,0,0,0,11,0
6998,7048,+,nan,NC_007946.1,14,0,0,0,10,11,...,0,0,0,0,0,0,13,0,0,14
6999,7050,+,nan,NC_007946.1,0,0,10,0,14,0,...,12,0,14,0,0,11,13,0,0,0

In [33]:
experiment.normalized_count_mat[experiment.pools].values

array([[   0.        ,    0.        ,  734.32222059, ...,    0.        ,
           0.        ,    0.        ],
       [   0.        ,    0.        ,    0.        , ...,    0.        ,
           0.        ,  664.34995912],
       [   0.        ,    0.        ,    0.        , ...,    0.        ,
           0.        ,    0.        ],
       ...,
       [   0.        ,    0.        ,    0.        , ...,    0.        ,
         549.86253437,    0.        ],
       [1108.64745011,    0.        ,    0.        , ...,    0.        ,
           0.        ,  715.45380213],
       [   0.        ,    0.        ,  734.32222059, ...,    0.        ,
           0.        ,    0.        ]])

In [27]:
# Inferring most likely locations and writing location summary
experiment.deconvolve()

In [29]:
vars(experiment)

{'cores': 4,
 'map_quality': 30,
 'seq_quality': 10,
 'gb_ref': 'gb_ref',
 'bowtie_ref': 'bowtie_ref/UTI89',
 'tn_seq': 'AGATGTGTATAAGAGACAG',
 'tn_mismatches': 2,
 'input_dir': 'input',
 'exp_design': 'full_exp_design.csv',
 'use_barcodes': False,
 'filter_thr': 0.05,
 'global_filter_thr': 5,
 'min_counts': 5,
 'bowtie_res': 'temp/alignment_result.csv',
 'alignment': 'temp/alignment.sam',
 'file2pool': {'A': 'A',
  'B': 'B',
  'C': 'C',
  'D': 'D',
  'E': 'E',
  'F': 'F',
  'G': 'G',
  'H': 'H',
  '1': '1',
  '2': '2',
  '3': '3',
  '4': '4',
  '5': '5',
  '6': '6',
  '7': '7',
  '8': '8',
  '9': '9',
  '10': '10',
  '11': '11',
  '12': '12',
  'PC01': 'PC01',
  'PC02': 'PC02',
  'PC03': 'PC03',
  'PC04': 'PC04',
  'PC05': 'PC05',
  'PC06': 'PC06',
  'PC07': 'PC07',
  'PC08': 'PC08',
  'PR01': 'PR01',
  'PR02': 'PR02',
  'PR03': 'PR03',
  'PR04': 'PR04',
  'PR05': 'PR05',
  'PR06': 'PR06',
  'PR07': 'PR07',
  'PR08': 'PR08'},
 'pool_dims': {'row': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'],
  'col': ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
  'PC': ['PC01', 'PC02', 'PC03', 'PC04', 'PC05', 'PC06', 'PC07', 'PC08'],
  'PR': ['PR01', 'PR02', 'PR03', 'PR04', 'PR05', 'PR06', 'PR07', 'PR08']},
 'pools': ['1',
  '10',
  '11',
  '12',
  '2',
  '3',
  '4',
  '5',
  '6',
  '7',
  '8',
  '9',
  'A',
  'B',
  'C',
  'D',
  'E',
  'F',
  'G',
  'H',
  'PC01',
  'PC02',
  'PC03',
  'PC04',
  'PC05',
  'PC06',
  'PC07',
  'PC08',
  'PR01',
  'PR02',
  'PR03',
  'PR04',
  'PR05',
  'PR06',
  'PR07',
  'PR08'],
 'input_file_paths': ['input/A.fastq',
  'input/B.fastq',
  'input/C.fastq',
  'input/D.fastq',
  'input/E.fastq',
  'input/F.fastq',
  'input/G.fastq',
  'input/H.fastq',
  'input/1.fastq',
  'input/2.fastq',
  'input/3.fastq',
  'input/4.fastq',
  'input/5.fastq',
  'input/6.fastq',
  'input/7.fastq',
  'input/8.fastq',
  'input/9.fastq',
  'input/10.fastq',
  'input/11.fastq',
  'input/12.fastq',
  'input/PC01.fastq',
  'input/PC02.fastq',
  'input/PC03.fastq',
  'input/PC04.fastq',
  'input/PC05.fastq',
  'input/PC06.fastq',
  'input/PC07.fastq',
  'input/PC08.fastq',
  'input/PR01.fastq',
  'input/PR02.fastq',
  'input/PR03.fastq',
  'input/PR04.fastq',
  'input/PR05.fastq',
  'input/PR06.fastq',
  'input/PR07.fastq',
  'input/PR08.fastq'],
 'input_file_names': ['A',
  'B',
  'C',
  'D',
  'E',
  'F',
  'G',
  'H',
  '1',
  '2',
  '3',
  '4',
  '5',
  '6',
  '7',
  '8',
  '9',
  '10',
  '11',
  '12',
  'PC01',
  'PC02',
  'PC03',
  'PC04',
  'PC05',
  'PC06',
  'PC07',
  'PC08',
  'PR01',
  'PR02',
  'PR03',
  'PR04',
  'PR05',
  'PR06',
  'PR07',
  'PR08'],
 'count_mat':       Feature Orientation Barcode    Reference           1          10  \
 0          49           -     nan  NC_007946.1     0.00000    0.000000
 1          50           -     nan  NC_007946.1     0.00000    0.000000
 2          51           -     nan  NC_007946.1     0.00000    0.000000
 3          53           -     nan  NC_007946.1     0.00000    0.000000
 4          54           +     nan  NC_007946.1     0.00000  981.798958
 ...       ...         ...     ...          ...         ...         ...
 6995     7045           -     nan  NC_007946.1     0.00000  755.229968
 6996     7046           +     nan  NC_007946.1     0.00000  755.229968
 6997     7047           -     nan  NC_007946.1     0.00000    0.000000
 6998     7048           +     nan  NC_007946.1  1108.64745    0.000000
 6999     7050           +     nan  NC_007946.1     0.00000    0.000000

               11   12            2            3  ...       PC07        PC08  \
 0     734.322221  0.0     0.000000     0.000000  ...    0.00000    0.000000
 1       0.000000  0.0     0.000000     0.000000  ...    0.00000  675.465032
 2       0.000000  0.0     0.000000     0.000000  ...    0.00000    0.000000
 3       0.000000  0.0   980.022616     0.000000  ...  496.15480    0.000000
 4       0.000000  0.0     0.000000     0.000000  ...    0.00000  727.423880
 ...          ...  ...          ...          ...  ...        ...         ...
 6995    0.000000  0.0     0.000000  1003.152766  ...    0.00000    0.000000
 6996    0.000000  0.0     0.000000     0.000000  ...    0.00000    0.000000
 6997    0.000000  0.0     0.000000     0.000000  ...    0.00000    0.000000
 6998    0.000000  0.0   753.863551   788.191459  ...    0.00000    0.000000
 6999  734.322221  0.0  1055.408971     0.000000  ...  595.38576    0.000000

             PR01        PR02        PR03        PR04        PR05        PR06  \
 0       0.000000  732.945919    0.000000    0.000000    0.000000    0.000000
 1       0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
 2       0.000000    0.000000    0.000000  581.856652    0.000000    0.000000
 3     509.735957    0.000000    0.000000    0.000000    0.000000    0.000000
 4       0.000000    0.000000    0.000000    0.000000    0.000000  721.277692
 ...          ...         ...         ...         ...         ...         ...
 6995  662.656744    0.000000    0.000000    0.000000    0.000000    0.000000
 6996    0.000000  680.592639    0.000000    0.000000  629.954328  566.718187
 6997    0.000000  732.945919  635.930048    0.000000    0.000000    0.000000
 6998    0.000000    0.000000    0.000000    0.000000  682.450522    0.000000
 6999  713.630339    0.000000    0.000000  581.856652  682.450522    0.000000

             PR07        PR08
 0       0.000000    0.000000
 1       0.000000  664.349959
 2       0.000000    0.000000
 3       0.000000    0.000000
 4       0.000000    0.000000
 ...          ...         ...
 6995  549.862534    0.000000
 6996    0.000000    0.000000
 6997  549.862534    0.000000
 6998    0.000000  715.453802
 6999    0.000000    0.000000

 [7000 rows x 40 columns],
 'location_summary':         Reference  Coordinate       Gene      Locus_tag  \
 0     NC_007946.1          49        NaN            NaN
 1     NC_007946.1          50        NaN            NaN
 2     NC_007946.1          51        NaN            NaN
 3     NC_007946.1          53        NaN            NaN
 4     NC_007946.1          54        NaN            NaN
 ...           ...         ...        ...            ...
 6995  NC_007946.1        7045  Not_found  UTI89_RS00040
 6996  NC_007946.1        7046  Not_found  UTI89_RS00040
 6997  NC_007946.1        7047  Not_found  UTI89_RS00040
 6998  NC_007946.1        7048  Not_found  UTI89_RS00040
 6999  NC_007946.1        7050  Not_found  UTI89_RS00040

                                  Predicted_wells Gene_orientation  \
 0                                 F_11_PC02_PR02              NaN
 1                                  F_5_PC08_PR08              NaN
 2                                  D_8_PC05_PR04              NaN
 3                                  E_2_PC07_PR01              NaN
 4                                 D_10_PC08_PR06              NaN
 ...                                          ...              ...
 6995  B_10_PC03_PR01;D_3_PC05_PR07;F_7_PC03_PR01                -
 6996  B_10_PC05_PR06;C_6_PC03_PR02;G_4_PC05_PR05                -
 6997   A_6_PC01_PR02;C_9_PC04_PR03;D_8_PC04_PR07                -
 6998   A_1_PC04_PR08;A_2_PC03_PR05;F_3_PC03_PR05                -
 6999  A_5_PC07_PR05;D_11_PC07_PR04;H_2_PC02_PR01                -

      Transposon_orientation Percent_from_start Gene_hit    Ambiguity  \
 0                         -                NaN    False  Unambiguous
 1                         -                NaN    False  Unambiguous
 2                         -                NaN    False  Unambiguous
 3                         -                NaN    False  Unambiguous
 4                         +                NaN    False  Unambiguous
 ...                     ...                ...      ...          ...
 6995                      -            0.55905     True    Ambiguous
 6996                      +           0.558351     True    Ambiguous
 6997                      -           0.557652     True    Ambiguous
 6998                      +           0.556953     True    Ambiguous
 6999                      +           0.555556     True    Ambiguous

                                          Possible_wells  \
 0                                        F_11_PC02_PR02
 1                                         F_5_PC08_PR08
 2                                         D_8_PC05_PR04
 3                                         E_2_PC07_PR01
 4                                        D_10_PC08_PR06
 ...                                                 ...
 6995  B_10_PC03_PR01;B_10_PC03_PR07;B_10_PC05_PR01;B...
 6996  B_10_PC03_PR02;B_10_PC03_PR05;B_10_PC03_PR06;B...
 6997  A_6_PC01_PR02;A_6_PC01_PR03;A_6_PC01_PR07;A_6_...
 6998  A_1_PC03_PR05;A_1_PC03_PR08;A_1_PC04_PR05;A_1_...
 6999  A_11_PC02_PR01;A_11_PC02_PR04;A_11_PC02_PR05;A...

                                             Pool_counts Barcode
 0     11:734.3222205903951;F:614.3449546920597;PC02:...     nan
 1     5:975.0975097509751;F:511.95412891004963;PC08:...     nan
 2     8:740.1924500370096;D:507.02225827713835;PC05:...     nan
 3     2:980.022615906521;E:577.6400777188468;PC07:49...     nan
 4     10:981.7989577826447;D:507.02225827713835;PC08...     nan
 ...                                                 ...     ...
 6995  10:755.2299675251114;3:1003.1527658354829;7:10...     nan
 6996  10:755.2299675251114;4:999.4618282463289;6:106...     nan
 6997  6:1062.6992561105208;8:740.1924500370096;9:870...     nan
 6998  1:1108.6474501108648;2:753.8635506973238;3:788...     nan
 6999  11:734.3222205903951;2:1055.4089709762532;5:10...     nan

 [7000 rows x 13 columns],
 'transposed_location_summary':                           Well row col    PC    PR  \
 Well
 A_1_PC01_PR01    A_1_PC01_PR01   A   1  PC01  PR01
 A_1_PC01_PR02    A_1_PC01_PR02   A   1  PC01  PR02
 A_1_PC01_PR03    A_1_PC01_PR03   A   1  PC01  PR03
 A_1_PC01_PR04    A_1_PC01_PR04   A   1  PC01  PR04
 A_1_PC01_PR05    A_1_PC01_PR05   A   1  PC01  PR05
 ...                        ...  ..  ..   ...   ...
 H_12_PC08_PR04  H_12_PC08_PR04   H  12  PC08  PR04
 H_12_PC08_PR05  H_12_PC08_PR05   H  12  PC08  PR05
 H_12_PC08_PR06  H_12_PC08_PR06   H  12  PC08  PR06
 H_12_PC08_PR07  H_12_PC08_PR07   H  12  PC08  PR07
 H_12_PC08_PR08  H_12_PC08_PR08   H  12  PC08  PR08

                                           Reference      Coordinate  \
 Well
 A_1_PC01_PR01                                   nan             nan
 A_1_PC01_PR02               NC_007946.1;NC_007946.1        689;6692
 A_1_PC01_PR03   NC_007946.1;NC_007946.1;NC_007946.1  4056;5156;5581
 A_1_PC01_PR04                                   nan             nan
 A_1_PC01_PR05                           NC_007946.1            5715
 ...                                             ...             ...
 H_12_PC08_PR04              NC_007946.1;NC_007946.1       3370;3884
 H_12_PC08_PR05                          NC_007946.1            3566
 H_12_PC08_PR06                          NC_007946.1            5399
 H_12_PC08_PR07                                  nan             nan
 H_12_PC08_PR08                                  nan             nan

                           Gene                        Locus_tag  \
 Well
 A_1_PC01_PR01              nan                              nan
 A_1_PC01_PR02   thrA;Not_found      UTI89_RS00010;UTI89_RS00040
 A_1_PC01_PR03    thrC;nan;yaaA  UTI89_RS00020;nan;UTI89_RS00035
 A_1_PC01_PR04              nan                              nan
 A_1_PC01_PR05             yaaA                    UTI89_RS00035
 ...                        ...                              ...
 H_12_PC08_PR04       thrB;thrC      UTI89_RS00015;UTI89_RS00020
 H_12_PC08_PR05            thrB                    UTI89_RS00015
 H_12_PC08_PR06       Not_found                    UTI89_RS00030
 H_12_PC08_PR07             nan                              nan
 H_12_PC08_PR08             nan                              nan

                Gene_orientation Transposon_orientation  \
 Well
 A_1_PC01_PR01               nan                    nan
 A_1_PC01_PR02               +;-                    -;-
 A_1_PC01_PR03           +;nan;-                  +;-;+
 A_1_PC01_PR04               nan                    nan
 A_1_PC01_PR05                 -                      -
 ...                         ...                    ...
 H_12_PC08_PR04              +;+                    +;-
 H_12_PC08_PR05                +                      +
 H_12_PC08_PR06                +                      +
 H_12_PC08_PR07              nan                    nan
 H_12_PC08_PR08              nan                    nan

                                        Percent_from_start         Gene_hit  \
 Well
 A_1_PC01_PR01                                         nan              nan
 A_1_PC01_PR02      0.14372716199756394;0.8057302585604472        True;True
 A_1_PC01_PR03   0.2517482517482518;nan;0.9832689832689833  True;False;True
 A_1_PC01_PR04                                         nan              nan
 A_1_PC01_PR05                                    0.810811             True
 ...                                                   ...              ...
 H_12_PC08_PR04     0.6120042872454448;0.11810411810411811        True;True
 H_12_PC08_PR05                                   0.822079             True
 H_12_PC08_PR06                                    0.56229             True
 H_12_PC08_PR07                                        nan              nan
 H_12_PC08_PR08                                        nan              nan

                                     Ambiguity Barcode
 Well
 A_1_PC01_PR01                             nan     nan
 A_1_PC01_PR02           Unambiguous;Ambiguous     nan
 A_1_PC01_PR03   Ambiguous;Ambiguous;Ambiguous     nan
 A_1_PC01_PR04                             nan     nan
 A_1_PC01_PR05                       Ambiguous     nan
 ...                                       ...     ...
 H_12_PC08_PR04          Unambiguous;Ambiguous     nan
 H_12_PC08_PR05                      Ambiguous     nan
 H_12_PC08_PR06                      Ambiguous     nan
 H_12_PC08_PR07                            nan     nan
 H_12_PC08_PR08                            nan     nan

 [6144 rows x 15 columns]}